body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height:800px;
}

header {
    position:fixed;
    display:inline;
    background-color: transparent;
    width: 100vw;
    height: 50px;
    z-index: 3;
}

nav{
    display:inline-block;
}
.logo{
    width: 100px;
    height: auto;
}

.navlist{
    list-style: none;
    color:white;
    position:relative;
    top:-24px;
}

.navlist li{
    margin-left: 30px;
    display:inline;
}

ul li:hover{
    color: red;
    font-size: 105%;
}
.derecha{
    width:10%;
    height:36px;
    display:inline-block;
    position:relative;
    top:-14px;
    left: 47%;
}

#lupa{
    width:30px;
    height: auto;   
}

#lupa.hover{
    width: 80px;
    height: auto; 
}
#campana{
    width:30px;
    height: auto;
    margin-left:20px;
}

#perfil {
    width:30px;
    height: auto;
    margin-left:20px;
}

.sobrevid {
    width: 30%;
    height: 120px;
    padding:30px;
    position:relative;
    bottom:550px;
    left:800px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color:white;
    font-size:x-large;
    color:black;
}

.witcher{
    position:relative;
    top:60px;
    width: 100%;
    height:auto;
}

.recientes{
    color:white;
    padding:15px;
    position:relative;
    bottom:130px
}

.peliculas{
    width: 98vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
    padding:20px;
    position:relative;
    bottom:175px;
}

.grid1{
    width:190px;
    height:250px;
    border-radius: 8px;
}

.grid1:hover{
    transform: scale(1.01);
}
.grid2:hover{
    transform: scale(1.01);
}
.grid3:hover{
    transform: scale(1.01);
}

.hide{
    display:none;
    width: 190px;
    height:60px;
    border-radius:2px;
    border: 1px solid rgb(51, 43, 43);
}

.grid1:hover + .hide {
    display: block;
}

.hide:hover{
    display:block;
}

#play{
    width: 40px;
    height: auto;
    position:relative;
    bottom:40px;
    left:10px;
}

#mas{
    width: 40px;
    height: auto;
    position: relative;
    left:33px;
    bottom:40px;      
}

#trespuntos{
    width: 40px;
    height: auto; 
    position:relative;
    left:48px;
    bottom:40px;     
}

.gabs{
    color:white;
    position:relative;
    bottom:610px;
    padding:15px;
}

.peliculas2{
    width: 98vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding:20px;
    position:relative;
    bottom:630px;
}
.grid2:hover + .hide2 {
    display: block;
}

.hide2:hover{
    display: block;
}

.grid2{
    width:190px;
    height:250px;
    border-radius: 8px;
}

.hide2{
    display:none;
    width: 190px;
    height:60px;
    border-radius:2px;
    border: 1px solid rgb(51, 43, 43);
}

#play2{
    width: 40px;
    height: auto;
    position:relative;
    bottom:-10px;
    left:10px;
}

#mas2{
    width: 40px;
    height: auto;
    position: relative;
    left:33px;
    bottom:-10px;     
}

#trespuntos2{
    width: 40px;
    height: auto; 
    position:relative;
    left:48px;
    bottom:-10px;     
}

.peliculas3{
    width: 98vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding:20px;
    position:relative;
    bottom:1100px;
}

.grid3{
        width:190px;
        height:250px;
        border-radius: 8px;
    }

.masrecomendaciones{
    color:white;
    position:relative;
    bottom:1080px;
}































@media screen and (max-width:426px){

    header {
        position:fixed;
        display:inline;
        background-color: transparent;
        width: 100vw;
        height: 50px;
        z-index: 3;
        }
        
        nav{
            display:inline-block;
            font-size:x-small;
            position: relative;
            right: 37px;
            top:8px;
        }
    
        .navlist li{
            margin:10px;
            display:inline;
        }
    
    #añadido{
        display:none;
    }
    #milista{
        display:none;
    }
    
    
        .logo{
            width: 70px;
            height: auto;
        }
        
        .derecha{
            width:14%;
            display:inline-block;
            position:relative;
            left:80px;
        }
    
        #lupa{
            width:18px;
            height: auto;   
        }
        
        #campana{
         display:none;
        }
        
        #perfil {
            width:18px;
            height: auto;
            margin-left:5px;
        }
    
        .witcher{
            position:relative;
            top:80px;
            left:2px;
            width: 100vw;
            height:auto;
        }
    
        .grid1{
            width: 110px;
            height: auto;
        }
    
        .grid2{
            width: 110px;
            height: 170px;
        }
    
        .hide{
            width: 110px;
            height: 40px;
        }


        #play{
            width:20px;
        }
    
        #mas{
            width: 20px;
            position: relative;
            left:20px;
        }
    
        #trespuntos{
            width: 20px;
            position:relative;
            left:26px;
        }
    
        .hide2{
            width: 110px;
            height: 40px;
        }
    
        #play2{
            width:20px;
        }
    
        #mas2{
            width: 20px;
            position: relative;
            left:20px;
        }
    
        #trespuntos2{
            width: 20px;
            position:relative;
            left:26px;
        }
    
    
        .peliculas{
            width: 93vw;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 3px;
            padding:5px;
            position:relative;
            bottom:160px;
        }
        .peliculas2{
            width: 93vw;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 3px;
            padding:5px;
            position:relative;
            bottom:230px;
        }
        .masrecomendaciones{
            display:none;
           }
        
        .peliculas3{
            display:none;
        }
        
        .grid3{
        display:none;
        }
        
    
            .gabs{
                color:white;
                position:relative;
                bottom:200px;
                padding:15px;
            }
            .witcher{
                position:relative;
                top:60px;
                right:10px;
                width: 100%;
                height:auto;
            }
            .sobrevid {
                width: 30%;
                height: 120px;
                padding:30px;
                position:relative;
                bottom:190px;
                left:200px;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: center;
                color:white;
                font-size:x-small;
                color:black;
            }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
